* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  max-width: 1024px;
  grid-template-areas: 
  "header header"
  "contact main"
  "summary main"
  "sidebar main";
  margin: 10px auto;
  grid-template-columns: 30% 70%;
}

@media screen and (max-width: 500px) {
  .App {
    grid-template-areas: 
    "header"
    "contact"
    "summary"
    "main"
    "sidebar";
  margin: 10px auto;
  grid-template-columns: 100%}
  
}

/* Header */

header {
  border: 2px dotted grey;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.profilePicture {
  width: 200px;
  border-radius: 50%;
}

.titleHolder {
  justify-items: flex-end;
  align-items: center;
}

.headerName {
  font-size: 22px;
}

.headerTitle {
  font-size: 16px;
  text-align: right;
  font-style: italic;
}

/* Search */

.searchField {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid gray;
  margin: 20px;
  max-height: 50px;
}

@media screen and (max-width: 500px) {
  .searchField {
    min-width: 80%;
  }
  
}

/* Contact */

.contact {
  grid-area: contact;
  
}

.contactKey {
  font-weight: 500;
}

.summary {
  grid-area: summary;
  font-style:italic;
}


/* SideBar */

.SideBar {
  grid-area: sidebar;
  border: 2px dotted yellow;
}

/* Widget */
.Widget {
  padding: 20px;
  border: 2px dotted maroon;
}

.summary, .contact, .keySkills, .techSkills, .mktSkills, .addSkills, .languages, .hobbies{
  list-style: none;
  padding: 20px;
  border: 2px dotted maroon;
  transition: visibility 1s;
}

/* Widgets */


.keySkills {
  /* grid-area: keySkills; */
}

.techSkills {
  /* list-style: none; */
}

/* Content */

.Content {
  grid-area: main;
  border: 3px dotted lavender;
}


/* JobsList */

.jobsTable {
  width: 100%;
}

.Experience, .Education, .certifications {
  padding: 20px;
}



.jobTitle {
  font-weight: bold;
}

.jobCompany {
  font-style: italic;
}
.jobDescription {
  padding-bottom: 10px;
}

td {
  vertical-align: top;
}

#certItem {
  list-style: disc;
}